<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/favicon.ico">
  <script src="https://kit.fontawesome.com/ebb26d417f.js" crossorigin="anonymous"></script>


  <title>Family Office Architects</title>
</head>

<body onload="myFunction()">
  <section id="home">
    <!-- Navbar  -->
    <nav class="navbar navbar-expand-lg">
      <div class="navbar_wrapper container-fluid">
        <!-- <a class="navbar-brand" href="#"></a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fal fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item navbar_item active">
              <a class="nav-link navbar_link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item navbar_item">
              <div class="dropdown">
                <a class="nav-link navbar_link dropdown-toggle" href="/about" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Management Team
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/about">Management Team</a>
                  <a class="dropdown-item" href="/bw#bw">Brian Weiner</a>
                  <a class="dropdown-item" href="/ah#ah">Aleathia Hoster</a>
                  <a class="dropdown-item" href="/tb#tb">Tim Brown</a>
                </div>
              </div>
            </li>
            <li class="nav-item navbar_item">
              <a class="nav-link navbar_link" href="/services">Services</a>
            </li>
            <li class="nav-item navbar_item">
              <a class="nav-link navbar_link" href="/blog">Blog</a>
            </li>
            <li class="nav-item navbar_item">
              <a class="nav-link navbar_link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <hr>
