<!-- Spotlight -->
<div class="spotlight">
  <div class="row container-fluid spotlight_container">
    <div class="col-md-4 spotlight_headings-wrapper">
      <div class="spotlight_headings">
        <img src="../images/light-logo.svg" alt="logo">
        <a class="spotlight_button" href="/#about" >Learn More</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="spotlight_image-wrapper">
        <img class="spotlight_image" src="../images/spotlight3.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="spotlight_mobile">
  <img src="images/spotlight_pic.jpg" alt="" class="spotlight_mobile-image">
</div>
