<!-- Spotlight -->
<div class="spotlight">
  <div class="row container-fluid spotlight_container">
    <div class="col-md-4 spotlight_headings-wrapper">
      <div class="spotlight_headings">
        <h1 class="spotlight_header"><span class="fo_text">Family Office</span> <br> <span class="architects_text">Architects</span></h1>
        <h2 class="spotlight_subheader mb-4">Design + Build + Fortify</h2>
        <a class="spotlight_button" href="/#about" >Learn More</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="spotlight_image-wrapper">
        <img class="spotlight_image" src="../images/spotlight3.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="spotlight_mobile">
  <img src="spotlight_pic.jpg" alt="" class="spotlight_mobile-image">
</div>
