<% include partials/header %>
<% include partials/spotlight %>


    <!-- About -->

    <section id="tb" class="about">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/about" class="breadcrumb-about">About</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tim Brown</li>
        </ol>
      </nav>
      <img class="vector_top-tb" src="/images/top-vector.png" alt="">
      <img class="vector_bottom-tb" src="/images/bottom-vector.png" alt="">
      <div class="row container-fluid about_container">
        <div class="col-md-2 offset-md-1 about_left">
          <img class="about_image-bw" src="images/tb.jpg" alt="tim brown photo">
        </div>
        <div class="col-sm-8 offset-md-1 about_right">
          <div class="about_person-details">
              <h3 class="about_name">Tim Brown</h3>
              <p class="about_title">Managing Partner</p>
          </div>
          <p class="font_18 about_desc">
            Mr. Brown serves as a Managing Partner at Family Office Architects and as a Managing Partner with HB Partners, where he leads sales and marketing services.
            <br>
            Mr. Brown has served in different leadership capacities, including President of Northstar Commercial Partners, a privately-held commercial real estate investment company, President of Concord Energy Holdings, an integrated commodity logistics and oilfield services company and CEO of Radius Media Holdings, a media company offering a broad stratum of marketing platforms that ranged from radio broadcasting, a nationally focused large-format printing company and a sponsorship marketing agency. Mr. Brown is also the author of two books, “Jumping into the Parade” (2014) and “Old School with New Tools” (2015)
            <br>
            Mr. Brown began his career more than 25 years ago in sales management in the high tech/ telecommunications industries, including Cisco Systems, Alteon Web Systems (Nortel Networks) and American Power Conversion.
            <br>
            Mr. Brown is an active member of Young Presidents’ Organization (YPO) in the Jackson Hole and Rocky Mountain chapters, serving as past Chapter Chair of the Rocky Mountain Chapter, as the past Chair of YPO International’s Deal Talks and Super Regional Chair for North America inside YPO’s largest global network, the Deal Network and as current Vice Chair of the YPO Personal Investing Network.
            <br>
            Mr. Brown is a graduate of Colorado State University, Fort Collins, CO.
            <br>
            Mr. Brown is a Registered Representative and licensed to sell securities through March Capital Corporation, a Member of FINRA and SIPC.

          </p>
        </div>
      </div>
    </section>

<% include partials/footer %>
