<% include partials/header %>
<% include partials/spotlight %>


    <!-- About -->

    <section id="bw" class="about">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/about" class="breadcrumb-about">About</a></li>
          <li class="breadcrumb-item active" aria-current="page">Brian Weiner</li>
        </ol>
      </nav>
      <img class="vector_top-bw" src="/images/top-vector.png" alt="">
      <img class="vector_bottom-bw" src="/images/bottom-vector.png" alt="">
      <div class="row container-fluid about_container">
        <div class="col-lg-2 offset-lg-1 about_left">
          <img class="about_image-bw" src="images/bw-min.jpg" alt="brain weiner photo">
        </div>
        <div class="col-lg-8 offset-lg-1 about_right">
          <div class="about_person-details">
              <h3 class="about_name">Brian Weiner</h3>
              <p class="about_title">Managing Partner</p>
          </div>
          <p class="font_18 about_desc">
          Brian Weiner is a Founder and Managing Partner of Family Office Architects where he leads client engagements and services.  Over the past 20 years, Brian has provided family office solutions and created governance models for high net individuals, families and businesses.
            <br>
            <br>
            Prior to forming Family Office Architects, Brian was the CEO and founder of BW Consulting - a global, multi-family office firm.  Brian became a “go to” solution for families and advisors to provide custom family governance programs and to diligence/oversee illiquid investments in both real estate and private equity.
            <br>
            <br>
Brian’s entry into the family office world began in 2000, when he was recruited as a Financial Advisor by Citigroup-Smith Barney.   Brian quickly developed a family office practice working with large real estate principals and business owners.  Brian left Smith Barney to form Allied Advisors in order to offer families truly independent and unbiased advice.
            <br>
            <br>
            Brian began his career as the Deputy Trade Commissioner for the Government of Israel, where he promoted joint ventures on behalf of U.S. and Israeli companies. Brian left the Government to attend Suffolk Law School in Boston where he received his juris doctorate (JD).   Brian received a BA from UC Santa Barbara in Political Science.
            <br>
            <br>
            Brian is an active member of Young Presidents’ Organization (YPO) and sits on the Board of The Jewish Big Brothers and Sisters of Los Angeles and is a member of the Circle of Founders of the Motion Picture Academy Museum.   Brian is also a Co-Founder of the American Friends of the Citizens’ Empowerment Center in Israel (CECI) with the Nazarian Family.
          </p>
        </div>
      </div>
    </section>

<% include partials/footer %>
