<% include partials/header %>
<% include partials/spotlight %>

    <!-- About -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/about" class="breadcrumb-about">About</a></li>
        <li class="breadcrumb-item active" aria-current="page">Aleathia Hoster</li>
      </ol>
    </nav>
    <section id="ah" class="about">
      <div class="row container-fluid about_container">
        <div class="col-md-2 offset-md-1 about_left">
          <img class="about_image-bw" src="images/ah2.jpg" alt="aleathia hoster photo">
        </div>
        <div class="col-sm-8 offset-md-1 about_right">
          <div class="about_person-details">
              <h3 class="about_name">Aleathia Hoster</h3>
              <p class="about_title">Managing Partner</p>
          </div>
          <p class="font_18 about_desc">
            Ms. Hoster serves as a Managing Partner at Family Office Architects and as a Managing Partner with HB Partners, where she leads operations, due diligence/underwriting and client services. Ms. Hoster has over 20 years of experience in real estate and alternative energy investment banking and asset management services, including Vice President of Investment Operations of MAP, an acquirer and manager of natural gas, wind energy, and utility-scale solar energy royalty interests within the United States, Assistant Vice President of Asset Management for Somera Capital Management, a boutique real estate investment firm that actively acquires value-added commercial and multi-family properties, Assistant Vice President of Keystone Property Trust, an industrial REIT and Analyst/Associate with PaineWebber Real Estate Principal Group (now UBS).
            <br>
            Ms. Hoster has oversite experience with the various real estate product types of multi-family, hotels, industrial, office and multi-use in value-added renovation, acquisition/disposition and new development throughout the United States.
            <br>
            Ms. Hoster served as Board Member and Treasurer of Stanford Professional Women and currently leads the Colorado Chapter, and has served on the Junior League as Chair and Co- Chair positions in the Denver, New York, San Francisco, Palo Alto and Los Angeles.
            <br>
            Chapters. She continues to volunteer for Stanford University in fundraising and interviewing potential Stanford undergraduate candidates.
            <br>
            Ms. Hoster is a graduate of Stanford University, Palo Alto, CA.
            <br>
            Ms. Hoster is a Registered Representative and licensed to sell securities through March Capital Corporation, a Member of FINRA and SIPC.

          </p>
        </div>
      </div>
    </section>

<% include partials/footer %>
