<% include partials/header %>
<% include partials/spotlight %>


    <!-- About -->

    <section id="tb" class="about">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/about" class="breadcrumb-about">About</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tim Brown</li>
        </ol>
      </nav>
      <img class="vector_top-tb" src="/images/top-vector.png" alt="">
      <img class="vector_bottom-tb" src="/images/bottom-vector.png" alt="">
      <div class="row container-fluid about_container">
        <div class="col-lg-2 offset-lg-1 about_left">
          <img class="about_image-bw" src="images/tb-min.jpg" alt="tim brown photo">
        </div>
        <div class="col-lg-8 offset-lg-1 about_right">
          <div class="about_person-details">
              <h3 class="about_name">Tim Brown</h3>
              <p class="about_title">Managing Partner</p>
          </div>
          <p class="font_18 about_desc">
            Tim Brown serves as a Managing Partner with Family Office Architects where he works
with families in offering sophisticated buy-side representation specific to sourcing
private alternatives, bringing together like-minded family offices to help accomplish
similar objectives and business/corporate development for assets owned by a family.
Mr. Brown has several years of experience within a large single-family office in both a
family-owned group of businesses and the board of the family’s foundation. With his role
as the current Vice Chair and the incoming Chair of YPO International’s Personal
Investing Network, Mr. Brown is interacting with several family offices, educational
resources and professionals with support roles to families on a daily basis.
            <br>
            <br>
            Mr. Brown previously served in operating roles as President of Northstar Commercial
Partners, President of Concord Energy Holdings, a Colorado-based integrated
commodity logistics and oilfield services company and as the Founder and CEO of
Radius Media Holdings, a position he held for more than 11 years.
            <br>
            <br>
            Mr. Brown is an active member of Young Presidents’ Organization (YPO) in the Jackson
Hole Integrated and Rocky Mountain Chapters, serving as past Chapter Chair of the
Rocky Mountain Chapter (2018-2019), as the past Chair of YPO International’s Deal
Talks and Super Regional Chair for North America inside YPO’s largest global network,
the Deal Network (2017-2019). Additionally, Mr. Brown serves on the International
Board of Chief Executive Organization (www.ceo.org) and Co-Chair of the award
winning YPO Chicago Booth School Seminar.
            <br>
            <br>
            Mr. Brown earned a bachelor’s degree from Colorado State University with a focus on
political science. He is the author of two books, Jumping into the Parade (2014) and Old
School with New Tools (2015).
            <br>
            <br>
            Mr. Brown is licensed to sell securities through March Capital Corporation, a Member of
FINRA and SIPC).
          </p>
        </div>
      </div>
    </section>

<% include partials/footer %>
