<% include partials/header %>
<% include partials/spotlight %>


    <!-- About -->

    <section id="bw" class="about">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/about" class="breadcrumb-about">About</a></li>
          <li class="breadcrumb-item active" aria-current="page">Brian Weiner</li>
        </ol>
      </nav>
      <img class="vector_top-bw" src="/images/top-vector.png" alt="">
      <img class="vector_bottom-bw" src="/images/bottom-vector.png" alt="">
      <div class="row container-fluid about_container">
        <div class="col-lg-2 offset-lg-1 about_left">
          <img class="about_image-bw" src="images/bw.jpg" alt="brain weiner photo">
        </div>
        <div class="col-lg-8 offset-lg-1 about_right">
          <div class="about_person-details">
              <h3 class="about_name">Brian Weiner</h3>
              <p class="about_title">Managing Partner</p>
          </div>
          <p class="font_18 about_desc">
            Brian Weiner is a Managing Partner of Family Office Architects.  For the past 20 years, Brian has provided family office counseling and financial management solutions to wealthy individuals and family offices.
            <br>
            <br>
            Brian began his career as the Deputy Trade Commissioner for the Government of Israel, where he promoted and forged joint ventures and strategic partnerships on behalf of U.S. and Israeli companies. Brian left the Government to attend Suffolk Law School in Boston. After receiving his Juris Doctorate (JD), Brian was recruited by Citigroup- Smith Barney to work with ultra-wealthy families. At Smith Barney, Brian developed a specialty focus  working with large family offices, real estate principals and business owners. Brian left Smith Barney to form Allied Advisors, an independent Multi-family office and RIA, to offer families truly a broader platform and unbiased solutions.
            <br>
            <br>
            Allied Advisors quickly became known as a “go to” solution for families in southern California (and eventually on a national basis) who were looking for deal origination, underwriting, GP and LP sourcing and asset management oversight. In 2008, Brian sold a portion of Allied Advisors and was recruited as a Senior Director at BNY Mellon. While in the position, Brian was able to offer clients institutional debt and cash management solutions. In less than 2 years, Brian advised on over $500M of liquid assets and funded over $100M of debt transactions.  Brian left BNY Mellon to form BW Consulting where he spent 10 years representing family offices on a global basis.
            <br>
            <br>
            Brian received a BA from UC Santa Barbara in addition to a JD from Suffolk Law School. Brian is currently receiving an Executive MBA at Columbia Business School's CEO Academy. He is an active member of YPO and sits on the Board of The Jewish Big Brothers and Sisters of Los Angeles and is a member of the Circle of Founders of the new Motion Picture Academy Museum.
          </p>
        </div>
      </div>
    </section>

<% include partials/footer %>
