<% include partials/header %>
<% include partials/spotlight %>


<!-- About -->


<section class="about">
<div class="about-container">
  <img class="vector_top-about" src="/images/top-vector.png" alt="">
  <img class="vector_bottom-about" src="/images/bottom-vector.png" alt="">
  <div class="row container-fluid about_container-about wow fadeInUp">
    <div class="col-lg-2 offset-lg-1 about_left">
      <img class="about_image-bw" src="images/bw-min.jpg" alt="brain weiner photo">
    </div>
    <div class="col-lg-8 offset-lg-1 about_right">
      <div class="about_person-details">
        <h3 class="about_name">Brian Weiner</h3>
        <p class="about_title">Managing Partner</p>
      </div>
      <p class="font_18 about_desc">Brian Weiner is a Managing Partner of Family Office Architects. For the past 20 years, Brian has provided family office counseling and financial management solutions to wealthy individuals and family offices. <br><br>
        Brian began his career as the Deputy Trade Commissioner for the Government of Israel, where he promoted and forged joint ventures and strategic partnerships on behalf of U.S. and Israeli companies. Brian left the Government to attend Suffolk
        Law School in Boston. After receiving his Juris Doctorate (JD), Brian was recruited by Citigroup- Smith Barney to work with ultra-wealthy families. At Smith Barney, Brian developed a specialty focus working with large family offices, real
        estate principals and business owners.
        <a href="bw#bw" class="about_read-more">Read More...</a></p>
    </div>
  </div>

  <div class="d-flex flex-row-reverse container-fluid about_container-about pt-14 wow fadeInUp ">
    <div class="col-lg-2 offset-lg-1 about_left-flip ah-desktop">
      <img class="about_image-bw about_ah" src="images/ah2-min.jpg" alt="alethia hoster photo">
    </div>
    <div class="col-lg-8  offset-lg-1 about_right ah-desktop">
      <div class="about_person-details-flip">
        <h3 class="about_name">Aleathia Hoster</h3>
        <p class="about_title">Managing Partner</p>
      </div>
      <p class="font_18 about_desc"> Ms. Hoster serves as a Managing Partner with Family Office Architects, where she
leads operations, due diligence, reporting and client services. Ms. Hoster has over 20+
years of experience in working with family offices and institutional partners within real
estate, alternative energy and asset management services. Most recently Ms. Hoster
served as the Vice President of Investment Operations of MAP, an acquirer and
manager of natural gas, wind energy, and utility-scale solar energy royalty interests
within the United States. Prior roles included a focus on asset management,
acquisitions/dispositions and operations as Assistant Vice President <a href="ah#ah" class="about_read-more">Read More...</a></p>
    </div>
    <div class="ah-mobile">
      <div class="col-lg-2 offset-lg-1 about_left ah-mobile">
        <img class="about_image-bw" src="images/ah2-min.jpg" alt="aleathia hoster photo">
      </div>
      <div class="col-lg-8 offset-lg-1 about_right">
        <div class="about_person-details">
          <h3 class="about_name about_name-mobile">Aleathia Hoster</h3>
          <p class="about_title">Managing Partner</p>
        </div>
        <p class="font_18 about_desc">Ms. Hoster serves as a Managing Partner with Family Office Architects, where she
  leads operations, due diligence, reporting and client services. Ms. Hoster has over 20+
  years of experience in working with family offices and institutional partners within real
  estate, alternative energy and asset management services. Most recently Ms. Hoster
  served as the Vice President of Investment Operations of MAP, an acquirer and
  manager of natural gas, wind energy, and utility-scale solar energy royalty interests
  within the United States. Prior roles included a focus on asset management,
  acquisitions/dispositions and operations as Assistant Vice President ... <a href="ah#ah" class="about_read-more">Read More</a></p>
      </div>
    </div>
  </div>

  <div class="row container-fluid about_container-about pt-14 border-bottom-0 wow fadeInUp">
    <div class="col-lg-2 offset-lg-1 about_left">
      <img class="about_image-bw" src="images/tb-min.jpg" alt="brain weiner photo">
    </div>
    <div class="col-lg-8 offset-lg-1 about_right">
      <div class="about_person-details">
        <h3 class="about_name">Tim Brown</h3>
        <p class="about_title">Managing Partner</p>
      </div>
      <p class="font_18 about_desc">Tim Brown serves as a Managing Partner with Family Office Architects where he works
with families in offering sophisticated buy-side representation specific to sourcing
private alternatives, bringing together like-minded family offices to help accomplish
similar objectives and business/corporate development for assets owned by a family.
Mr. Brown has several years of experience within a large single-family office in both a
family-owned group of businesses and the board of the family’s foundation. <a href="tb#tb" class="about_read-more">Read More...</a></p>
    </div>
  </div>
</div>
</section>

<% include partials/footer %>
