<% include partials/header %>
<% include partials/spotlight %>


<!-- About -->


<section class="about" id="mgt">
<div class="about-container">
  <img class="vector_top-about" src="/images/top-vector.png" alt="">
  <img class="vector_bottom-about" src="/images/bottom-vector.png" alt="">
  <div class="row container-fluid about_container-about wow fadeInUp">
    <div class="col-md-2 offset-md-1 about_left">
      <img class="about_image-bw" src="images/bw.jpg" alt="brain weiner photo">
    </div>
    <div class="col-sm-8 offset-md-1 about_right">
      <div class="about_person-details">
        <h3 class="about_name about_name-mobile">Brian Weiner</h3>
        <p class="about_title">Managing Partner</p>
      </div>
      <p class="font_18 about_desc">Brian Weiner is a Managing Partner of Family Office Architects. For the past 20 years, Brian has provided family office counseling and financial management solutions to wealthy individuals and family offices. <br>
        Brian began his career as the Deputy Trade Commissioner for the Government of Israel, where he promoted and forged joint ventures and strategic partnerships on behalf of U.S. and Israeli companies. Brian left the Government to attend Suffolk
        Law School in Boston. After receiving his Juris Doctorate (JD), Brian was recruited by Citigroup- Smith Barney to work with ultra-wealthy families. At Smith Barney, Brian developed a specialty focus working with large family offices, real
        estate principals and business owners.
        <a href="bw#bw" class="about_read-more">Read More...</a></p>
    </div>
  </div>

  <div class="d-flex flex-row-reverse container-fluid about_container-about pt-14 about_ah wow fadeInUp">
    <div class="col-md-2 offset-md-1 about_left-flip about_ah">
      <img class="about_image-bw about_ah" src="images/ah2.jpg" alt="alethia hoster photo">
    </div>
    <div class="col-sm-8  offset-md-1 about_right about_ah">
      <div class="about_person-details-flip">
        <h3 class="about_name">Aleathia Hoster</h3>
        <p class="about_title">Managing Partner</p>
      </div>
      <p class="font_18 about_desc"> Ms. Hoster serves as a Managing Partner at Family Office Architects and as a Managing Partner with HB Partners, where she leads operations, due diligence/underwriting and client services. Ms. Hoster has over 20
        years of experience in real estate and alternative energy investment banking and asset management services, including Vice President of Investment Operations of MAP, an acquirer and manager of natural gas, wind energy, and utility-scale
        solar energy royalty interests within the United States, Assistant Vice President of Asset Management for Somera Capital Management, a boutique real estate investment firm that actively acquires value-added commercial and multi-family
        properties, Assistant Vice President of Keystone Property Trust, an industrial REIT and Analyst/Associate with PaineWebber Real Estate Principal Group (now UBS).

        <a href="ah#ah" class="about_read-more">Read More...</a></p>
    </div>
  </div>

  <!-- <div class="row container-fluid about_container-about about_ah-mobile">
    <div class="col-md-2 offset-md-1 about_left">
      <img class="about_image-bw" src="images/ah2.jpg" alt="aleathia hoster photo">
    </div>
    <div class="col-sm-8 offset-md-1 about_right">
      <div class="about_person-details">
        <h3 class="about_name about_name-mobile">Aleathia Hoster</h3>
        <p class="about_title">Managing Partner</p>
      </div>
      <p class="font_18 about_desc">Ms. Hoster serves as a Managing Partner with HB Partners, where she leads operations, due diligence/underwriting and client services. Ms. Hoster has over 20 years of experience in real estate and alternative
        energy investment banking and asset management services, including Vice President of Investment Operations of MAP, an acquirer and manager of natural gas, wind energy, and utility-scale solar energy royalty interests within the United
        States, Assistant Vice President of Asset Management for Somera Capital Management, a boutique real estate investment firm that actively acquires value-added commercial and multi-family properties, Assistant Vice President of Keystone
        Property Trust, an industrial REIT and Analyst/Associate with PaineWebber Real Estate Principal Group (now UBS)... <a href="ah#ah" class="about_read-more">Read More</a></p>
    </div>
  </div> -->

  <div class="row container-fluid about_container pt-14 border-bottom-0 wow fadeInUp">
    <div class="col-md-2 offset-md-1 about_left">
      <img class="about_image-bw" src="images/tb.jpg" alt="brain weiner photo">
    </div>
    <div class="col-sm-8 offset-md-1 about_right">
      <div class="about_person-details">
        <h3 class="about_name">Tim Brown</h3>
        <p class="about_title">Managing Partner</p>
      </div>
      <p class="font_18 about_desc">Mr. Brown serves as a Managing Partner at Family Office Architects and as a Managing Partner with HB Partners, where he leads sales and marketing services.
        <br>
        Mr. Brown has served in different leadership capacities, including President of Northstar Commercial Partners, a privately-held commercial real estate investment company, President of Concord Energy Holdings, an integrated commodity
        logistics and oilfield services company and CEO of Radius Media Holdings, a media company offering a broad stratum of marketing platforms that ranged from radio broadcasting, a nationally focused large-format printing company and a
        sponsorship marketing agency.
        <br><a href="tb#tb" class="about_read-more">Read More...</a></p>
    </div>
  </div>
</div>
</section>

<% include partials/footer %>
