<% include partials/header %>
    <!-- Spotlight -->
    <div class="spotlight">
      <div class="row container-fluid spotlight_container">
        <div class="col-md-4 spotlight_headings-wrapper">
          <div class="spotlight_headings">
          <h1 class="spotlight_header"><span class="fo_text">Family Office</span> <br> <span class="architects_text">Architects</span></h1>
            <h2 class="spotlight_subheader">Lorem ipsum dolor sit</h2>
            <a class="btn btn-primary spotlight_button" href="#" role="button">Learn More</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="spotlight_image-wrapper">
            <img class="spotlight_image" src="/spotlight_pic.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="spotlight_mobile">
      <img src="/spotlight_pic.jpg" alt="" class="spotlight_mobile-image">
    </div>

    <!-- About -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="about.html">About</a></li>
        <li class="breadcrumb-item active" aria-current="page">Brian Weiner</li>
      </ol>
    </nav>
    <section id="bw" class="about">
      <div class="row container-fluid about_container">
        <div class="col-md-2 offset-md-1 about_left">
          <img class="about_image-bw" src="/bw.jpg" alt="brain weiner photo">
        </div>
        <div class="col-sm-8 offset-md-1 about_right">
          <div class="about_person-details">
              <h3 class="about_name">Brian Weiner</h3>
              <p class="about_title">Managing Partner</p>
          </div>
          <p class="font_18 about_desc">For the past 20 years, Brian has provided investment solutions to ultra-wealthy families. BW Consulting was formed by Brian over 10 years ago as a global, multi-family office comprised of highly accomplished individuals and ultra-wealthy families. Today, BW Consulting influences over $10B in family wealth, and specializes in bringing family offices together in GP and LP transaction opportunities. Brian began his career as the Deputy Trade Commissioner for the Government of Israel, where he promoted joint ventures on behalf of U.S. and Israeli companies. Brian left the Government to attend Suffolk Law School in Boston. After receiving his Juris Doctorate (JD), Brian was recruited by Citigroup- Smith Barney to work with ultra-wealthy families. At Smith Barney, Brian developed a passion for working with large real estate principals and business owners. Brian left Smith Barney to form Allied Advisors in order to offer families truly independent and unbiased advice. Allied Advisors quickly became known as a “go to” solution for families in southern California (and eventually on a national basis) who were looking for deal origination, underwriting, GP and LP sourcing and asset management oversight. In 2008, Brian sold a portion of Allied Advisors and was recruited as a Senior Director at BNY Mellon. In less than 2 years, Brian advised on over $500M of liquid assets and funded over $100M of debt transactions. Brian received a BA from UC Santa Barbara in addition to a JD from Suffolk Law School. Brian is an active member of YPO and sits on the Board of The Jewish Big Brothers and Sisters of Los Angeles, and is a Co-Founder of the American Friends of the Citizens’ Empowerment Center in Israel (CECI).
          </p>
        </div>
      </div>
    </section>

<% include partials/footer %>
