<% include partials/header %>
    <!-- Blog Articles Display-->
    <!-- Services Description -->
    <div class="row container blog_container">
      <div id="content"class="">
      </div>

    </div>

<% include partials/footer %>
