<% include partials/header %>
    <!-- Blog Articles Display-->
    <!-- Services Description -->
    <div class="row container blog_container">
      <header class="text-center blog_container-header">
        <h1 class="intro_header-text">Blog</h1>
      </header>
      <div class="container blog_container-headings">
        <h1 class="blog_title">How Much Inheritance Is Too Much?</h1>
        <p class="blog_date font_13">Oct 17 2019</p>
        <p class="blog_author font_13">Kate Murray, CPCU, Underwriting Specialist, AIG Private Client Group</p>
      </div>
      <div class="row container blog_container-image">
        <img class="blog_image" alt="family office" src="https://cdn.theatlantic.com/assets/media/img/mt/2019/10/GettyImages_52209515/lead_720_405.jpg" />
      </div>
      <div class="blog_container-content">
        <p class="font_18">
          When Lynn Chen-Zhang’s older son was in third grade, he came home from school one day wondering why he bothered studying so hard: A classmate had told him that because he had wealthy parents, he’d be all taken care of in life. What was the use?<br><br>

          This question worried Chen-Zhang and her husband—who run a financial-advisory firm in Portage, Michigan—and prompted them to have a talk with their two boys about their financial future. They planned to pay for as much schooling as their kids wanted, but beyond that, Chen-Zhang told me, their message was, “You're on your own. And don’t expect any inheritance from us.”
          <br>
          <br>
          Chen-Zhang’s sons ultimately studied plenty hard—now in their early 20s, they are both establishing careers in finance—so if she and her husband were to give them any help with money, she guesses it’d come in the form of a gift to any future grandkids, such as a contribution to a college-savings plan. “I think it is not in the next generation’s best interest to leave them a large sum of money,” she said. “From a selfish standpoint, I want my kids to be successful. I want them to be contributing members [of] society.”
          <br>
          <br>
          Chen-Zhang and her husband’s approach may be a reversal of the typical way of thinking about inheritances, but it is one that is also preoccupied with heirs’ well-being. Some affluent parents are focused not on whether their kids will have enough, but on ensuring that they won’t have too much.
          <a href="https://www.theatlantic.com/family/archive/2019/10/big-inheritances-how-much-to-leave/600703/" class="blog_link">Read More</a>
        </p>
      </div>

    </div>

<% include partials/footer %>
