<% include partials/header %>
    <!-- Blog Articles Display-->
    <!-- Services Description -->
    <div class="row container blog_container">
      <header class="text-center blog_container-header">
        <h1 class="intro_header-text">Blog</h1>
      </header>
      <div id="content"class="container blog_container-headings">
      </div>

    </div>

<% include partials/footer %>
