<% include partials/header %>
    <!-- Blog Articles Display-->
    <!-- Services Description -->
  <div class="blog">

      <img class="vector_top-blog" src="/images/top-vector.png" alt="">
      <img class="vector_bottom-blog" src="/images/bottom-vector.png" alt="">
    <div class="row container blog_container">
      <div id="content"class="">
      </div>
    </div>
  </div>

<% include partials/footer %>
