<% include partials/header %>
    <!-- Blog Articles Display-->
    <!-- Services Description -->
    <div class="row container blog_container">
        <img class="blog_container-vector1" src="/images/top-vector.png" alt="">
      <!-- <header class="text-center blog_container-header">
        <h1 class="intro_header-text">Blog</h1>
      </header> -->
      <div id="content"class="">
      </div>

    </div>

<% include partials/footer %>
