<% include partials/header %>
<% include partials/spotlight %>


    <!-- Contact Form -->
    <div class="contact">
      <img class="vector_top-contact" src="/images/top-vector.png" alt="">
      <img class="vector_bottom-contact" src="/images/bottom-vector.png" alt="">
    <div class="container">

      <div class="col-lg-3 contact_header">
        <p class="">Contact Us</p>
      </div>
      <div class="row justify-content-center contact_partner-wrapper">
        <div class="col-md-4 contact_partner">
          <p class="contact_info-p">Brian Weiner</p>
          <p class="contact_info-p">Managing Partner</p>
          <p class="contact_info-p">Mobile: (310) 927-7723</p>
          <p class="contact_info-p">email: bweiner@foarchitects.com</p>
        </div>
        <div class="col-md-4 contact_partner">
          <p class="contact_info-p">Aleathia M. Hoster</p>
          <p class="contact_info-p">Managing Partner</p>
          <p class="contact_info-p">Mobile: (650) 644-8672</p>
          <p class="contact_info-p">email: ahoster@foarchitects.com</p>
        </div>
        <div class="col-md-4 contact_partner">
          <p class="contact_info-p">Tim T. Brown</p>
          <p class="contact_info-p">Managing Partner</p>
          <p class="contact_info-p">Mobile: (303) 882-4631</p>
          <p class="contact_info-p">email: tbrown@foarchitects.com</p>
        </div>
      </div>
      <form class="contact_form" action="contact_form.php" method="POST">
        <div class="row form-group">
          <div class="col-sm-6">
            <input class="form-input input-mobile" type="text" name="name" value="" placeholder="name" style="display: inline-block;">
          </div>
          <div class="col-sm-6">
            <input class="form-input" type="text" name="last" value="" placeholder="last" style="display: inline-block;">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12">
            <input class="form-input" type="text" name="email" value="" placeholder="email">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12">
            <textarea class="form-input" name="message" rows="8" cols="80" placeholder="Type message..."></textarea>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12 contact_button-wrapper">
            <button name="emailBtn" type="button" class="contact_button">Send</button>
          </div>
        </div>
      </form>
    </div>
    </div>

<% include partials/footer %>
