<% include partials/header %>
    <!-- Spotlight -->
    <div class="spotlight">
      <div class="row container-fluid spotlight_container">
        <div class="col-md-4 spotlight_headings-wrapper">
          <div class="spotlight_headings">
          <h1 class="spotlight_header"><span class="fo_text">Family Office</span> <br> <span class="architects_text">Architects</span></h1>
            <h2 class="spotlight_subheader">Lorem ipsum dolor sit</h2>
            <a class="btn btn-primary spotlight_button" href="/#about" role="button">Learn More</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="spotlight_image-wrapper">
            <img class="spotlight_image" src="/spotlight_pic.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="spotlight_mobile">
      <img src="/spotlight_pic.jpg" alt="" class="spotlight_mobile-image">
    </div>

    <!-- Contact Form -->
    <div class="container">
      <div class="col-lg-3 contact_header">
        <p class="">Contact Us</p>
      </div>
      <div class="row justify-content-center contact_partner-wrapper">
        <div class="col-lg-4 contact_partner contact_mobile">
          <p class="contact_info-p">Brian Weiner</p>
          <p class="contact_info-p">Managing Partner</p>
          <p class="contact_info-p">Family Office Architects</p>
          <p class="contact_info-p">Mobile: (123) 456-7890</p>
          <p class="contact_info-p">email: bw@foa.com</p>
        </div>
        <div class="col-lg-4 contact_partner contact_mobile">
          <p class="contact_info-p">Aleathia Hoster</p>
          <p class="contact_info-p">Managing Partner</p>
          <p class="contact_info-p">Family Office Architects</p>
          <p class="contact_info-p">Mobile: (650) 644-8672</p>
          <p class="contact_info-p">email: ah@foa.com</p>
        </div>
        <div class="col-lg-4 contact_partner contact_mobile">
          <p class="contact_info-p">Tim T. Brown</p>
          <p class="contact_info-p">Managing Partner</p>
          <p class="contact_info-p">Family Office Architects</p>
          <p class="contact_info-p">Mobile: (303) 882-4631</p>
          <p class="contact_info-p">email: tb@foa.com</p>
        </div>
      </div>
      <form class="contact_form" action="" method="">
        <div class="row form-group">
          <div class="col-sm-6">
            <input class="form-input" type="text" name="name" value="" placeholder="name" style="display: inline-block;">
          </div>
          <div class="col-sm-6 contact_form-input-mobile">
            <input class="form-input" type="text" name="last" value="" placeholder="last" style="display: inline-block;">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12">
            <input class="form-input" type="text" name="email" value="" placeholder="email">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12">
            <textarea class="form-input" name="message" rows="8" cols="80" placeholder="Type message..."></textarea>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12 contact_button-wrapper">
            <a class="btn btn-primary contact_button"href="#">Send</a>
          </div>
        </div>
      </form>
    </div>

<% include partials/footer %>
