<% include partials/header %>
<% include partials/spotlight %>



    <!-- Homepage Introduction -->
    <div class="container" id="about">
      <div class="">
        <div class="intro_header">
          <h1 class="intro_header-text">BH Partners - Family Office Solution</h1>
        </div>
        <div class="intro_content-wrapper">
          <p class="intro_content">
            <span class="bold">We are</span> a highly educated and experienced group of professionals (YPO'ers) with a passion for helping families to manage their wealth for success.
          </p>
          <p class="intro_content">
            <span class="bold">We do</span> our best to work families and their existing team of professionals to uncover new approaches to challenges.
          </p>
          <p class="intro_content">
            <span class="bold">We work</span> by having a well-established process for evaluating the needs of families that allows us to uncover gaps in coverage or challenges facing families.
          </p>
          <p class="intro_content">
            <span class="bold">Our goal</span> is to ensure that our clients have the resources necessary to ensure the current and next generation experience sustained wealth and achieve excellence.

          </p>

        </div>
      </div>
    </div>

<% include partials/footer %>
