<% include partials/header %>
<% include partials/spotlight %>

<!-- Services Description -->
<div class="container-fluid page" id="about">
  <img class="vector_top-services" src="/images/top-vector.png" alt="">
  <img class="vector_bottom-services" src="/images/bottom-vector.png" alt="">
    <div class="page-header wow fadeInUp">
      <h1 class="page-header-text" id="services">Services</h1>
    </div>
    <div class="page-content">
      <!-- Service 1 -->
      <div class="service-one">
        <!-- 1 CSS Break -->
        <div class="row row_break service wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="service_title col-sm-5">
            <h2 class="service_title-text">Designing the Family Office</h2>
          </div>
          <div class="service_description col-sm-7">
            <p class="service_description-text">
              We believe that the key to a successful family office structure lies in having a strong foundation. There is no one size fits all approach to designing and setting up a family office. We commit to delivering a truly customized approach
              and result to our clients. Our approach to designing the family office has been successful, because of our commitment to a proven methodology.
            </p>
          </div>
        </div>

        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"><i class="fal fa-caret-right"></i> We start by setting up a series of meetings with the family principal and key family members to establish clear goals and objectives.</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> We meet with the family’s existing advisors, because we find their insights to be invaluable.</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> We then prepare a Design Engagement that very clearly establishes the goals and deliverables.</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> We spend considerable time modeling and testing various ideas until we have reached a consensus that we are aligned for success.</p>
          </div>
        </div>
      </div>

      <!-- Service 2 -->
      <div class="service-two">
        <!-- 1 CSS Break -->
        <div class="row row_break service wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="service_title col-sm-5">
            <h2 class="service_title-text">Building the Structure</h2>
          </div>
          <div class="service_description col-sm-7">
            <p class="service_description-text">
              Once the foundation is solidified, we spend considerable time crafting and developing the building blocks to the organizational structure. We help families think through the many different challenges
            and needs, such as:
            </p>
          </div>
        </div>

        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Family Mission/Value Declaration</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Family Board structure</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Staffing model</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Staffing matrix with job descriptions</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Process flows and procedures for every position and decision</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Work culture</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Location</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Business and Investment oversight</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Information technology (IT) solutions for reporting and protecting data</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Risk management & security solutions for protecting people and property</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Emergency and crisis planning. What happens if there is a fire, earthquake, theft, etc.</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Family Education and next generation planning</p>
          </div>
        </div>
      </div>

      <!-- Service 3 -->
      <div class="service-three">
        <div class="row row_break service wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="service_title col-sm-5">
            <h2 class="service_title-text">Fortifying the Organization</h2>
          </div>
          <div class="service_description col-sm-7">
            <p class="service_description-text">
              Once we complete structuring a family office, we maintain an ongoing relationship with the family to ensure it is managed for success. There are often changes and adjustments that are required, as
              circumstances within the family and/or the family office evolve. We are available to our families as a long-term resource. We are often asked to come back in to address:
            </p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Staffing issues</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> New policies and procedures</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Changes in family dynamics</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> New business direction</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> IT and Software changes</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Risk management concerns</p>
          </div>
        </div>
        <div class="row row_break wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          <div class="col-sm-7 offset-sm-5">
            <p class="service_description-text"> <i class="fal fa-caret-right"></i> Introductions to other family offices and/or resources</p>
          </div>
        </div>
      </div> <!-- end of service 3 -->
    </div>

<% include partials/footer %>
