.blog {
  &_image {
    &-wrapper{
      text-align: center;
    }
    width: 75%;
  }
  &_container {
    margin: auto;
    &-vector1{
      width: 50%
    }

    &-header {
      margin: auto;
      display: block;
    }
  }
}
