/* Contact Page */
.contact_header{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 8.7rem;
  border-bottom: 2px solid $primary-color-navy;
  margin: 5rem auto 5rem;
  padding: 0;
}
.contact_partner-wrapper{
  width: 70%;
  margin:auto;
  text-align: center;
}

.contact_partner{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
}
.contact_info-p{
  margin: 0;
}
.contact_form{
  margin: 5rem auto;
  width: 70%;
}
.contact_button{
  background-color: $primary-color-navy;
  color: $color-white-2;
  border: 2px solid $color-white-2;
  border-radius: 3px;
  padding: .5rem 5rem;
  font-family: 'dosis', sans-serif;
  font-size: 1.8rem;
  transition: all .2s ease;

  &:hover {
    background-color: $color-white-2;
    border: 2px solid $primary-color-navy;
    color: $primary-color-navy;
    padding: .5rem 5rem;
  }
}
.contact_button-wrapper{
  text-align: right;
}
.form-input {
  font-size: 1.5rem;
  width: 100%;
  padding: .5rem;
  border-radius: 3px;
  border: 1px solid $color-grey-2;
}
