/* Footer */
.footer{
  background-color: $primary-color-navy;
  width: 100%;
  height: 10rem;

  &_text {
    padding: 4rem;
    color: $color-white-2;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    display: block;
    margin: 0;

    @include respond(phone) {
      padding: 4rem 0;
    }
  }
}
