/* Home Page Introduction */
.intro_header{
  margin: 8.8rem auto 3.8rem;
}
.intro_header-text{
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 8.7rem;
  text-align: center;
  color: #333333;
}
.intro_content-wrapper {
  width: 85%;
  margin: auto;
}
.intro_content{
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: justify;
}

.intro_content:nth-child(4){
  margin-bottom: 11rem;
}
