.navbar{
  background-color: $primary-color-navy;

  &_wrapper {
    @include respond(phone) {
      padding: 1.5rem 0;
    }
  }



  &_link {
    font-family: 'Dosis', sans-serif;
    font-size: 1.6rem;
    color: $color-white-2;
    margin-right: 5rem;
    padding: 2.8rem;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s ease;


    @include respond(tab-port){
      padding: 0.8rem;
    }
    @include respond(phone) {
      padding: 0;
    }

    &:hover {
      border-bottom: 3px solid $color-white-2;


      @include respond(tab-port){
        border-bottom: none;
      }
      @include respond(tab-land){
        border-bottom: none;
      }
      @include respond(phone) {
        border-bottom: none;
      }
    }

    &:nth-child(3) {
      margin-right: 13rem;
    }
  }

  &_item {
    margin: 0;
    padding: 0;
  }

  &-toggler{
    @include respond(tab-port){
      padding-bottom: 2rem;
    }

    &-icon {
      cursor: pointer;
    }
  }


}


/* Dropdown Menu */

.dropdown {
  &-menu {
    background-color: $color-white-3;
    border-radius: 0.3rem;
    padding: 0;
  }

  &-item {
    font-family: 'open sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    transition: all .1s ease;

    &:hover {
      background-color: $color-white-1;
      color: $color-white-3;
    }
  }
}


hr {
  margin: 0;
  padding: 0;
}
