.fal.fa-bars{
  color: white;
}

.navbar-toggler-icon{
  cursor: pointer;
}

.navbar{
  background-color: #273C75;
}

.navbar_wrapper {
  border-bottom: 1px solid #7F8FA6;
  width: 95%;
}

.nav-link{
  font-family: 'Dosis', sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  margin-right: 5rem;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.5s ease;
  &:hover{
    border-bottom: 3px solid $color-white-2;
  }
}

.nav-link:nth-child(3){
  margin-right: 13rem;
}

/* Dropdown Menu */

.dropdown-menu{
  background-color: #F5F6FA;
  border-radius: 0.3rem;
  padding: 0;
}
.dropdown-item{
  font-family: 'open sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all .1s ease;

  &:hover {
    background-color: $color-white-1;
    color: $color-white-3;
  }
}
