/* Spotlight */
.spotlight {
  width: 100%;
  background-color: $primary-color-navy;
}

.spotlight_container {
  margin: auto;
  width: 100%;
}

.spotlight_headings-wrapper {
  position: relative;
  text-align: center;
}

.spotlight_headings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spotlight_header,
.spotlight_subheader {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFF;
}

.spotlight_subheader {
  font-size: 2.4rem;
  line-height: 3.3rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}
.fo_text {
  font-size: 4.8rem;
  line-height: 6.5rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.architects_text {
  font-size: 7.2rem;
  line-height: 8rem;
  letter-spacing: 1rem;
  font-weight: 300;
}


.spotlight_button{
  background-color: $primary-color-navy;
  border-radius: 3px;
  border: 2.5px solid $color-white-1;
  color: $color-white-2;
  padding: 1rem 6rem;
  font-family: 'dosis', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 5rem;
  outline: none;
  transition: all .2s ease;

  &:hover {
    background-color: $color-white-1;
    color: $primary-color-navy;
    font-weight: 500;
  }
}


.spotlight_image-wrapper {
  width: 100%;
  text-align: center;
}

.spotlight_image {
  width: 100%;
  margin: 3rem auto;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 3px;
}
