.fal.fa-bars{
  color: $color-white-1;
  outline: none;

  @include respond(phone) {
    font-size: 2.5rem;
    padding: .5rem 0;
  }
  @include respond(tab-port){
    font-size: 3rem;
    padding: 2rem 0 0.5rem;
  }
}
