#home{

  @include respond(tab-land){
    position: relative;
  }
}


a,
a:hover {
  text-decoration: none;
  color: $color-white-2;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.pt-14{
  padding-top: 14rem;
}

/* Breadcrumb */
.breadcrumb{
    margin: 0;
    background-color: $color-white-3;
    font-size: 2rem;
    padding-left: 2rem;
    padding-bottom: 5rem;
    &-item{
      z-index: 1;
    }
    &-about{
      color: $primary-color-navy;
      &:hover{
        text-decoration: underline;
        color: $primary-color-navy;
      }
    }
}

.bold {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
