// $primary-color-navy: #273C75;
$primary-color-navy: #293B5C;
$color-white-1: #7F8FA6;
$color-white-2: #FFFFFF;
$color-white-3: #F5F6FA;

$color-black-2: #333333;

$color-grey-1: #808080;
$color-grey-2: #cccccc;
