*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300; }

.fal.fa-bars {
  color: #7F8FA6;
  outline: none; }
  @media only screen and (max-width: 37.5em) {
    .fal.fa-bars {
      font-size: 2.5rem;
      padding: .5rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .fal.fa-bars {
      font-size: 3rem;
      padding: 2rem 0 0.5rem; } }

.intro_header-text {
  margin: 0 auto;
  padding: 6rem 0 3rem; }

.font_13 {
  font-size: 1.3rem; }

.font_18 {
  font-size: 1.8rem; }

@media only screen and (max-width: 75em) {
  #home {
    position: relative; } }

a,
a:hover {
  text-decoration: none;
  color: #FFFFFF; }

.u-text-center {
  text-align: center; }

.u-text-left {
  text-align: left; }

.pt-14 {
  padding-top: 14rem; }

/* Breadcrumb */
.breadcrumb {
  margin: 0;
  background-color: #F5F6FA;
  font-size: 2rem;
  padding-left: 2rem;
  padding-bottom: 5rem; }
  .breadcrumb-item {
    z-index: 1; }
  .breadcrumb-about {
    color: #293B5C; }
    .breadcrumb-about:hover {
      text-decoration: underline;
      color: #293B5C; }

.bold {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px; }

/* About Page */
.about {
  background-color: #F5F6FA;
  position: relative; }
  .about_container {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 9rem;
    transition: 6s; }
    .about_container-about {
      border-bottom: 2px solid #7F8FA6;
      width: 85%;
      margin: 0 auto;
      padding: 9rem; }
      @media only screen and (max-width: 75em) {
        .about_container-about {
          padding: 7rem 0;
          width: 100%; } }
      @media only screen and (max-width: 56.25em) {
        .about_container-about {
          padding: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .about_container-about {
          padding: 3rem; } }
  .about_name {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3.6rem;
    line-height: 4.9rem;
    margin: 0; }
  .about_title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.5rem; }
  .about_right {
    margin: 0; }
  .about_left {
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .about_left {
        margin: auto; } }
  .about_left-flip {
    margin-left: 0;
    margin-right: 8.33%; }
  .about_person-details {
    width: 20%;
    text-align: center;
    border-bottom: 2px solid #293B5C;
    margin-bottom: 1.1rem; }
    @media only screen and (max-width: 75em) {
      .about_person-details {
        margin: auto;
        width: 50%; } }
    @media only screen and (max-width: 56.25em) {
      .about_person-details {
        margin: auto;
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .about_person-details {
        width: 21rem; } }
    .about_person-details-flip {
      width: 20%;
      text-align: center;
      border-bottom: 2px solid #293B5C;
      margin-bottom: 1.1rem;
      margin-left: auto; }
      @media only screen and (max-width: 37.5em) {
        .about_person-details-flip {
          width: 100%; } }
  .about_desc {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-align: justify; }
  .about_image-bw {
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .about_image-bw {
        width: 35%; } }
  .about_read-more, .about_read-more:hover {
    color: #293B5C; }

@media only screen and (max-width: 56.25em) {
  .ah-desktop {
    display: none; } }

.ah-mobile {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .ah-mobile {
      display: block; } }

.blog {
  position: relative; }
  .blog_image {
    width: 75%; }
    .blog_image-wrapper {
      text-align: center;
      margin: 3rem auto; }
  .blog_container {
    margin: auto; }
    .blog_container-header {
      margin: auto;
      display: block; }

.blogTitle {
  font-weight: bold;
  font-size: 5rem;
  margin-top: 5rem; }

.separator {
  text-align: center;
  margin: 3rem auto; }
  @media only screen and (max-width: 37.5em) {
    .separator {
      text-align: left; } }

@media only screen and (max-width: 37.5em) {
  .separator img {
    width: 100%; } }

/* Contact Page */
.contact {
  position: relative; }

.contact_header {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 8.7rem;
  border-bottom: 2px solid #293B5C;
  margin: 0 auto 5rem;
  padding-top: 5rem; }

.contact_partner-wrapper {
  width: 70%;
  margin: auto;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .contact_partner-wrapper {
      width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .contact_partner-wrapper {
      width: 100%; } }

.contact_partner {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 2.1rem; }
  @media only screen and (max-width: 37.5em) {
    .contact_partner {
      padding-bottom: 1.5rem; } }

.contact_info-p {
  margin: 0; }

.contact_form {
  margin: 5rem auto;
  width: 70%; }
  @media only screen and (max-width: 75em) {
    .contact_form {
      width: 90%; } }

.contact_button {
  background-color: #293B5C;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  padding: .5rem 5rem;
  font-family: 'dosis', sans-serif;
  font-size: 1.8rem;
  transition: all .2s ease; }
  .contact_button:hover {
    background-color: #FFFFFF;
    border: 2px solid #293B5C;
    color: #293B5C;
    padding: .5rem 5rem; }

.contact_button-wrapper {
  text-align: right; }

.form-input {
  font-size: 1.5rem;
  width: 100%;
  padding: .5rem;
  border-radius: 3px;
  border: 1px solid #cccccc; }

@media only screen and (max-width: 37.5em) {
  .input-mobile {
    margin-bottom: 1rem; } }

/* Footer */
.footer {
  background-color: #293B5C;
  width: 100%;
  height: 10rem; }
  .footer_text {
    padding: 4rem;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    display: block;
    margin: 0; }
    @media only screen and (max-width: 37.5em) {
      .footer_text {
        padding: 4rem 0; } }

.page {
  position: relative;
  padding: 0; }
  .page-header {
    margin: 0 auto 3.8rem;
    padding-top: 5rem; }
    .page-header-text {
      font-family: 'Open Sans Condensed', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 6.4rem;
      line-height: 8.7rem;
      text-align: center;
      color: #333333; }
      @media only screen and (max-width: 37.5em) {
        .page-header-text {
          line-height: 7rem; } }
  .page-content {
    width: 63%;
    margin: auto; }
    @media only screen and (max-width: 56.25em) {
      .page-content {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .page-content {
        width: 80%; } }
    .page-content-p {
      font-family: 'Dosis', sans-serif;
      font-size: 2rem;
      line-height: 3.5rem;
      text-align: justify; }
      .page-content-p:nth-child(4) {
        padding-bottom: 6rem; }
        @media only screen and (max-width: 75em) {
          .page-content-p:nth-child(4) {
            font-size: 2.5rem;
            padding-bottom: 30.2rem; } }
        @media only screen and (max-width: 56.25em) {
          .page-content-p:nth-child(4) {
            padding-bottom: 5.7rem; } }

.navbar {
  background-color: #293B5C; }
  @media only screen and (max-width: 37.5em) {
    .navbar_wrapper {
      padding: 1.5rem 0; } }
  .navbar_link {
    font-family: 'Dosis', sans-serif;
    font-size: 1.6rem;
    color: #FFFFFF;
    margin-right: 5rem;
    padding: 2.8rem;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s ease; }
    @media only screen and (max-width: 56.25em) {
      .navbar_link {
        padding: 0.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .navbar_link {
        padding: 0; } }
    .navbar_link:hover {
      border-bottom: 3px solid #FFFFFF; }
      @media only screen and (max-width: 56.25em) {
        .navbar_link:hover {
          border-bottom: none; } }
      @media only screen and (max-width: 75em) {
        .navbar_link:hover {
          border-bottom: none; } }
      @media only screen and (max-width: 37.5em) {
        .navbar_link:hover {
          border-bottom: none; } }
    .navbar_link:nth-child(3) {
      margin-right: 13rem; }
  .navbar_item {
    margin: 0;
    padding: 0; }
  @media only screen and (max-width: 56.25em) {
    .navbar-toggler {
      padding-bottom: 2rem; } }
  .navbar-toggler-icon {
    cursor: pointer; }

/* Dropdown Menu */
.dropdown-menu {
  background-color: #F5F6FA;
  border-radius: 0.3rem;
  padding: 0; }

.dropdown-item {
  font-family: 'open sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all .1s ease; }
  .dropdown-item:hover {
    background-color: #7F8FA6;
    color: #F5F6FA; }

hr {
  margin: 0;
  padding: 0; }

/* Spotlight */
.spotlight {
  width: 100%;
  background-color: #FFFFFF; }
  .spotlight_container {
    margin: auto;
    width: 100%; }
  .spotlight_headings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 37.5em) {
      .spotlight_headings {
        position: static;
        transform: translate(0);
        padding: 4rem 0; } }
    .spotlight_headings-wrapper {
      position: relative;
      text-align: center; }
  .spotlight_logo {
    width: 95%;
    padding-bottom: 7rem; }
    @media only screen and (max-width: 75em) {
      .spotlight_logo {
        width: 100%;
        padding-bottom: 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .spotlight_logo {
        width: 100%;
        padding-bottom: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .spotlight_logo {
        padding-bottom: 3rem; } }
  .spotlight_button {
    background-color: #293B5C;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 1rem 6rem;
    font-family: 'dosis', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 5rem;
    outline: none;
    transition: all .2s ease; }
    @media only screen and (max-width: 75em) {
      .spotlight_button {
        font-size: 1.5rem;
        padding: 1rem 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .spotlight_button {
        padding: 1rem 2rem; } }
    .spotlight_button:hover {
      background-color: #7F8FA6;
      color: #293B5C;
      font-weight: 500; }
  .spotlight_image {
    width: 100%;
    margin: 3rem auto;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px; }
    .spotlight_image-wrapper {
      width: 100%;
      text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .spotlight_image {
        display: none; } }

.service-container {
  position: relative; }

.service-two,
.service-three {
  margin-top: 6rem; }

.service-three {
  padding-bottom: 6rem; }

.row_break {
  border-left: 0.5rem solid #293B5C; }

.service {
  font-weight: 300;
  font-family: "Open Sans Condensed", sans-serif; }
  .service_title-text {
    font-size: 6.4rem; }
    @media only screen and (max-width: 37.5em) {
      .service_title-text {
        font-size: 5rem; } }
  .service_description-text {
    font-size: 2.4rem; }

.vector_top-home, .vector_top-services, .vector_top-blog, .vector_top-contact {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 25%; }
  @media only screen and (max-width: 56.25em) {
    .vector_top-home, .vector_top-services, .vector_top-blog, .vector_top-contact {
      width: 50%; } }
  @media only screen and (max-width: 75em) {
    .vector_top-home, .vector_top-services, .vector_top-blog, .vector_top-contact {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .vector_top-home, .vector_top-services, .vector_top-blog, .vector_top-contact {
      width: 50%; } }

.vector_top-about, .vector_top-bw, .vector_top-ah, .vector_top-tb {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 25%; }
  @media only screen and (max-width: 75em) {
    .vector_top-about, .vector_top-bw, .vector_top-ah, .vector_top-tb {
      width: 50%; } }
  @media only screen and (max-width: 56.25em) {
    .vector_top-about, .vector_top-bw, .vector_top-ah, .vector_top-tb {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .vector_top-about, .vector_top-bw, .vector_top-ah, .vector_top-tb {
      width: 50%; } }

.vector_bottom-about, .vector_bottom-bw, .vector_bottom-ah, .vector_bottom-tb, .vector_bottom-blog {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%; }
  @media only screen and (max-width: 75em) {
    .vector_bottom-about, .vector_bottom-bw, .vector_bottom-ah, .vector_bottom-tb, .vector_bottom-blog {
      width: 50%;
      z-index: -1; } }
  @media only screen and (max-width: 56.25em) {
    .vector_bottom-about, .vector_bottom-bw, .vector_bottom-ah, .vector_bottom-tb, .vector_bottom-blog {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .vector_bottom-about, .vector_bottom-bw, .vector_bottom-ah, .vector_bottom-tb, .vector_bottom-blog {
      width: 50%; } }

.vector_bottom-services {
  position: absolute;
  bottom: 4.6%;
  right: -0.01%;
  overflow: hidden;
  width: 25%; }
  @media only screen and (max-width: 56.25em) {
    .vector_bottom-services {
      width: 50%;
      bottom: 3.2%; } }
  @media only screen and (max-width: 37.5em) {
    .vector_bottom-services {
      width: 50%;
      bottom: 2.7%; } }
  @media only screen and (min-width: 25em) and (max-width: 27em) {
    .vector_bottom-services {
      bottom: 2.9%; } }

.vector_bottom-contact {
  position: absolute;
  bottom: -6.7%;
  right: -.02%;
  overflow: hidden;
  width: 25%; }
  @media only screen and (max-width: 75em) {
    .vector_bottom-contact {
      width: 50%;
      bottom: -6%; } }
  @media only screen and (max-width: 56.25em) {
    .vector_bottom-contact {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .vector_bottom-contact {
      width: 50%;
      bottom: -4.15%; } }
